html,
body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: #f8f9fa;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.content {
  display: flex;
  height: calc(100vh - 56px);
  margin-top: 56px;
  overflow: hidden;
}

.sidebar {
  width: 270px;
  background: #fff;
  padding: 20px;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.sidebar.hide {
  transform: translateX(-100%);
  position: fixed;
  top: 56px;
  left: 0;
  height: calc(100vh - 56px);
  z-index: 1050;
  width: 50%;
  max-width: 300px;
  background: #fff;
}

.map-container {
  flex-grow: 1;
  height: 100%;
}

.btn-action {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 7px;
  border-radius: 5px;
}

#map {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

.phoneDetails {
  padding: 10px;
  font-size: 14px;
  line-height: 5px;
}

.device-card {
  position: relative;
}

.refresh-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 5px;
}

#distanceInfo {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: white;
  padding: 8px 12px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 999;
  font-size: 14px;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .sidebar {
    transform: translateX(-100%);
    position: fixed;
    top: 56px;
    left: 0;
    height: calc(100vh - 56px);
    z-index: 1050;
    width: 50%;
    max-width: 300px;
    background: #fff;
  }

  .sidebar.show {
    transform: translateX(0);
  }
}